@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0ebd8;
  --foreground: #0d1321;
  --dark-accent: #b2bcc2;
  --accent-1: #748cab;
  --accent-2: #3e5c76;
  --accent-3: #1d2d44;
  --light-accent: #152033;
  --glow-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1321;
    --foreground: #f0ebd8;
    --dark-accent: #152033;
    --accent-1: #1d2d44;
    --accent-2: #3e5c76;
    --accent-3: #748cab;
    --light-accent: #b2bcc2;
    --glow-color: #ffffff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.test-glow {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--x) var(--y),
    var(--accent-1) 1%,
    transparent 50%
  );
  transition:
    400ms mask ease,
    opacity 2s;

  will-change: mask;
}

.glow-overlay {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--x) var(--y),
    var(--accent-1) 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}
