@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-accent: #152033;
  --accent-1: #1d2d44;
  --accent-2: #3e5c76;
  --accent-3: #748cab;
  --light-accent: #b2bcc2;
  --glow-color: #ffffff;
}

@layer base {
  :root {
    --background: #0d1321;
    --foreground: #f4f2e5;
    --card: #1c2c43;
    --card-foreground: #e7f4fc;
    --primary: #1d2d44;
    --primary-foreground: #f8fafc;
    --secondary: #748cab;
    --secondary-foreground: #d9ebf5;
    --muted: #829dc0;
    --muted-foreground: #f1f5f9;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;
    --radius: 0.5rem;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

